.Board {
    background-color: grey;
    margin: 0;
    height: 100%;
  }

  .roll_btn {
    display: block;
    margin: 20px;
    padding: 20px;
  }

  .Board_diceCount {
      font-size: 50px;
  }

  .Board_container {
      border-radius: 10%;
      margin: auto;
      width: 90%;
      height: 1000px;
  }

  .Board_row {
    height: 100px;
    display: flex;
    flex-direction: row;
  }

  .Board_row_reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .Board_column {
    width: 150px;
    display: flex;
    flex-direction: column-reverse;
  }

  .Board_column_right {
    width: 150px;
    display: flex;
    flex-direction: column;
    float: right;
  }

  .Board_square {
    border-radius: 10px;
    min-width: 120px;
    min-height: 80px;
    width: 100%;
    height: 100%;
    background-color: blue;
    border: 2px solid #000;
  }

  .Board_square:hover {
    background-color: rgb(0, 128, 248);
  }